/* UNIVERSAL CSS ACROSS SITE */
:root {
  --background-block-color: lightpink;
  --background-block-contact-color: lightblue;
  --button-contact-color: blueviolet;
  --button-color: rgb(43, 92, 11);
  --button-text-color: whitesmoke;
  --button-text-color-whitebg: blueviolet;
  --box-shadow: 0 15px 20px rgb(0, 0, 0, 0.5);
}

body {
  margin: 50px;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 20px;
  margin: 30px;
}

h2 {
  margin-top: 10px;
  padding-top: 30px;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
/* hyperlinks  */
a:visited {
  color: green;
}

/* HOMEPAGE CSS */
.onpage-links {
  display: flex;
  justify-content: center;
}

/* onpage buttons - hover effect */
#btn-about:hover,
#btn-contact:hover {
  background-color: green;
  transition: all 200ms ease-in-out;
}

#link-about:hover {
  color: whitesmoke;
}

/* onpage buttons - link colour */
#link-contact {
  color: whitesmoke;
}

#link-about {
  color: var(--button-text-color-whitebg);
  font-weight: bold;
}

/* onpage buttons - css */
#btn-contact {
  border: 1px solid var(--button-contact-color);
  border-radius: 15px;
  background: var(--button-contact-color);
  padding: 15px;
  margin: 5px auto;
  box-shadow: var(--box-shadow);
}

#btn-about {
  border: 1px solid var(--button-text-color-whitebg);
  border-radius: 15px;
  background: whitesmoke;
  padding: 15px;
  margin: 5px auto;
  box-shadow: var(--box-shadow);
}

.container {
  border: 1px solid grey;
  background: lightcyan;
  margin-top: 50px;
}

.row,
.col-md-6 {
  border: 0.5px solid grey;
  padding: 5px;
}

/* ABOUT PAGE CSS */
/* onpage buttons - css */
#btn-home {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 15px;
  color: var(--button-text-color);
  padding: 10px;
  text-decoration: none;
}

#btn-home:hover {
  background-color: var(--button-text-color-whitebg);
  border: 1px solid var(--button-text-color-whitebg);
  transition: all 200ms ease-in-out;
}

.about-para {
  display: flex;
  flex-flow: column-wrap;
  justify-content: space-evenly;
  column-gap: 30px;
  margin: 55px;
  background-color: var(--background-block-color);
  border: 1px solid var(--background-block-color);
  border-radius: 30px;
  padding: 35px;
}

#contact {
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  column-gap: 30px;
  background-color: var(--background-block-contact-color);
  border: 1px solid var(--background-block-contact-color);
  border-radius: 30px;
  margin-left: 55px;
  margin-right: 55px;
  padding: 25px;
  align-items: center;
}

/* UNIVERSAL MEDIA QUERY ACROSS SITE */
@media (min-width: 400px) and (max-width: 600px) {
  h2 {
    line-height: 35px;
  }
}
