/* UNIVERSAL CSS ACROSS SITE */
:root {
  --background-block-color: lightpink;
  --background-block-contact-color: lightblue;
  --button-contact-color: blueviolet;
  --button-color: rgb(43, 92, 11);
  --button-text-color: whitesmoke;
  --button-text-color-whitebg: blueviolet;
  --box-shadow: 0 15px 20px rgb(0, 0, 0, 0.5);
}

body {
  margin: 50px;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 20px;
  margin: 30px;
}

h2 {
  margin-top: 10px;
  padding-top: 30px;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
/* hyperlinks  */
a:visited,
.project-text-link {
  color: green;
}

/* HOMEPAGE CSS */
.onpage-links {
  display: flex;
  justify-content: center;
}

/* onpage buttons - hover effect */
#btn-about:hover,
#btn-contact:hover {
  background-color: green;
  transition: all 200ms ease-in-out;
}

#link-about:hover {
  color: whitesmoke;
}

/* onpage buttons - link colour */
#link-contact {
  color: whitesmoke;
}

#link-about {
  color: var(--button-text-color-whitebg);
  font-weight: bold;
}

/* onpage buttons - css */
#btn-contact {
  border: 1px solid var(--button-contact-color);
  border-radius: 15px;
  background: var(--button-contact-color);
  padding: 15px;
  margin: 5px auto;
  box-shadow: var(--box-shadow);
}

#btn-about {
  border: 1px solid var(--button-text-color-whitebg);
  border-radius: 15px;
  background: whitesmoke;
  padding: 15px;
  margin: 5px auto;
  box-shadow: var(--box-shadow);
}

/* HOMEPAGE PORTFOLIO SECTION */
.container.homepage {
  margin: 25px auto;
}

.row.homepage {
  padding: 5px;
  margin: 5px auto;
  align-items: center;
  vertical-align: middle;
}

/* I LOVE THIS BOX SHADOW EFFECT */
.col-md-6 {
  padding: 40px 0 40px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#portfolio-btn {
  border: 0.5px solid var(--button-contact-color);
  border-radius: 15px;
  background-color: var(--button-contact-color);
  color: var(--button-text-color);
  padding: 10px;
  margin: 15px 0 10px 0;
}

.project-text-link {
  color: var(--button-text-color);
}

#portfolio-btn:hover {
  background-color: green;
  border: var(--button-color);
  transition: all 200ms ease-in-out;
}

/* PORTFOLIO COLOUR BKG BLOCKS */
#left-block-text,
#right-block-text {
  background: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#left-block-image,
#right-block-image {
  vertical-align: middle;
}

/* ABOUT PAGE CSS */
/* onpage buttons - css */
#btn-home {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 15px;
  color: var(--button-text-color);
  padding: 10px;
  text-decoration: none;
}

#btn-home:hover {
  background-color: var(--button-text-color-whitebg);
  border: 1px solid var(--button-text-color-whitebg);
  transition: all 200ms ease-in-out;
}
/* first para */
.about-para {
  display: flex;
  flex-flow: column-wrap;
  justify-content: space-evenly;
  column-gap: 30px;
  margin: 55px;
  background-color: var(--background-block-color);
  border: 1px solid var(--background-block-color);
  border-radius: 30px;
  padding: 35px;
}

/* project section */

h5 {
  padding: 10px;
}
.container {
  padding: 10px;
  column-gap: 5px;
}

.col-md-4 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  height: 480px;
}

.column-img {
  display: block;
  margin: auto;
  border: 5px solid #d9ded8;
  border-radius: 5px;
  max-height: 50%;
  background-color: white;
}

/* connect with me section */
.contact-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  column-gap: 30px;
  background-color: var(--background-block-contact-color);
  border: 1px solid var(--background-block-contact-color);
  border-radius: 30px;
  margin: 10px 55px 20px 55px;
  padding: 5px 0 5px 0;
}

/* UNIVERSAL MEDIA QUERY ACROSS SITE */
@media (min-width: 400px) and (max-width: 600px) {
  /* homepage */
  h2 {
    line-height: 35px;
  }

  /* about page */
  .col-md-4 {
    padding: 10px;
    margin: 5px;
    height: 100%;
    border: 1px solid #ebc0fd;
  }

  .column-img {
    height: 30%;
    width: 80%;
  }
}
